<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<!-- meta data -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- title -->
<title>PDF.js</title>

<!-- favicon -->


<!-- stylesheet -->
<link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/plugins/fontawesome/css/all.min.css}">
<link rel="stylesheet" th:href="@{/custom/css/base.css}">

</head>
<body>
	<!-- loading spinner -->
	<div id="overlay">
		<div class="overlay-content">
			<div class="lds-dual-ring"></div>
			<br> <strong id="loading-text">Loading...</strong>
		</div>
	</div>

	<!-- page content -->
	<div class="main-content-wrapper container">
		<div class="row">
			<div class="col-md-12 mt-5">
				<h3 style="font-weight: bold;">Links to my various pdfjs examples</h3>
			</div>
			<div class="col-md-12">
				<ul>
					<li>
						<a th:href="@{/pdfjs}">PDF.js simple example : Load and display pdf from URL or project classpath</a>
					</li>
					<li>
						<a th:href="@{/pdfjs-base64}">PDF.js : using base64 encoded PDF</a>
					</li>
					<li>
						<a th:href="@{/pdfjs-viewer}">PDF.js viewer: Load and display pdf from project classpath</a>
					</li>
					<li>
						<a th:href="@{/pdfjs-viewer-base64}">PDF.js viewer: using base64 encoded PDF</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script th:src="@{/plugins/jquery/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/plugins/popper/popper.min.js}"></script>
	<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/custom/js/base.js}"></script>
</body>
</html>